<section>
    <h1>Educación</h1>
    <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <img src="./assets/imagenes/html5.png" class="img-fluid" alt="">
          </div>
          <div class="col-8">
            <h2>UTN</h2>
            <p>Analista de Sistema</p>
          </div>
          <div class="col-2">
            <button>Editar</button>
            <button>Eliminar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img src="./assets/imagenes/html5.png" class="img-fluid" alt="">
          </div>
          <div class="col-8">
            <h2>UTN</h2>
            <p>Analista de Sistema</p>
          </div>
          <div class="col-2">
            <button>Editar</button>
            <button>Eliminar</button>
          </div>
        </div>
      </div>
   
   
  </section>
